<div class="container">
  <h1 class="text-center">Welcome to the Catalogue</h1>
  <div class="row">
    <div class="col">
      <app-pokemon-display *ngFor="let pokemon of pokemons" [pokemon]="pokemon"></app-pokemon-display>
    </div>
  </div>
  <button class="btn btn-primary btn-lg" (click)="backToTrainerClick()">Back to my page</button>
  <button class="btn btn-danger btn-lg" (click)="signOutClick()">Sign out!</button>
  <button class="btn btn-primary btn-lg" (click)="loadMore()">Load More</button>
</div>
